<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/modules/header::css_library"></head>

<div th:replace="/modules/bottom::js_library"></div>

<link rel="stylesheet" th:href="@{/plugins/bootstrap-table/bootstrap-table.min.css}"/>
<link rel="stylesheet" th:href="@{/plugins/jquery-treegrid/css/jquery.treegrid.css}" />

<link rel="stylesheet" th:href="@{/plugins/bootstrap-switch/bootstrap-switch.min.css}"/>

<script th:src="@{/plugins/fineuploader/fine-uploader.core.min.js}"></script>
<script th:src="@{/plugins/fineuploader/fine-uploader.min.js}"></script>

<script th:src="@{/plugins/jquery-treegrid/js/jquery.treegrid.js}"></script>

<body class="hold-transition skin-blue sidebar-mini">

    <!-- Content Header (Page header) -->
    <section class="content-header" style="border: 0px solid red; height: 50px; padding-top: 0px;">
      <div class="row" style="padding-top: 10px; padding-bottom: 0px;">
        <div class="col-lg-10 col-md-10">
          <div class="col-lg-9 col-md-9">
            <h3 style="margin-top: 5px;">
              用户管理
              <small>User Management</small>
            </h3>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <ol class="breadcrumb" style="background-color: #FFF; border: 0px solid green;">
            <li><a href="#"><i class="fa fa-dashboard"></i> 系统</a></li>
            <li class="active">文件管理</li>
          </ol>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <input id="rootpath" type="hidden" th:value="@{/}"></input>
      <input id="path" type="hidden" th:value="@{/auditsys}"></input>
      <input id="totalCounts" type="hidden" th:value="${totalCounts}"></input>
      <!-- Main row -->
      <div class="row">
        <section class="col-md-12 col-lg-12">
          <div class="box box-primary">
            <div class="box-header">
              <div id="toolbar" class="btn-group">
                <!--<button id="btn_add" type="button" class="btn btn-success" onclick="javascript:showAddModal('root');">-->
                  <!--<span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>添加顶级文件夹 (Add)-->
                <!--</button>-->
                <button id="btn_delete" type="button" class="btn btn-danger" onclick="javascript:deleteItems();">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>删除 (Delete)
                </button>
              </div>
              <table id="dataTable" class="data-table" style="white-space: nowrap;" width="100%"></table>
            </div>
          </div>
        </section>
      </div>

    </section>

  <!-- Modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div id="userInfo" class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <template v-if="userID == ''">
              <h4 class="modal-title" id="myModalLabel" style="font-family: 'Microsoft YaHei';">新增用户</h4>
            </template>
            <template v-else="v-else">
              <h4 class="modal-title" id="myModalLabel" style="font-family: 'Microsoft YaHei';">修改用户</h4>
            </template>
          </div>
          <div class="modal-body" style="text-align: left;">
            <div class="row" style="margin-left:auto; margin-right:auto; width: 80%; ">
              <div class="col-sm-12 col-md-12" style="float:left;">
                <form id="vform">
                  <input type="hidden" id="orgID"></input>
                  <div class="form-group" style="margin-top: -6px; margin-left: 8px;">
                    <label>所属机构:</label>
                    <span id="n-orgname"></span><br></br>
                  </div>
                  <div class="form-group" style="margin-top: -10px;">
                    <label style="color: red;">*</label><label>用&nbsp;&nbsp;户&nbsp;&nbsp;名:</label>
                    <input v-model="userName" name="userName" type="text" style="width: 50%;"></input><br></br>
                  </div>
                  <div class="form-group" style="margin-top: -10px;">
                    <label style="color: red;">*</label><label>角&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;色:</label>
                    <select v-model="roleCode" v-bind:value="roleCode" name="roleCode" style="width: 30%;">
                      <option value="10">系统管理员</option>
                      <option value="9">体验用户</option>
                      <option value="8">内部审计员</option>
                      <option value="7">外部审计员</option>
                      <option value="6">部门主管</option>
                      <option value="5">部门员工</option>
                      <option value="4">合同承包方</option>
                      <!--<option th:each="role : ${roleList}" th:value="${role.roleCode}" th:text="${role.roleDesc}">我我我</option>-->
                    </select>
                  </div>
                  <div class="form-group" style="margin-top: -10px;">
                    <label style="color: red;">*</label><label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:</label>
                    <input id="passwd" v-model="passwd" name="passwd" type="password" style="width: 50%;"></input><br></br>
                  </div>
                  <div class="form-group" style="margin-top: -10px;">
                    <label style="color: red;">*</label><label>确认密码:</label>
                    <input id="confirm_passwd" v-model="confirm_passwd" name="confirm_passwd" type="password" style="width: 50%;"></input><br></br>
                  </div>
                  <div class="form-group" style="margin-top: -10px;">
                    <label style="color: red;">*</label><label>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:</label>
                    <input v-model="userTel" name="userTel" type="text" style="width: 50%;"></input><br></br>
                  </div>
                  <div class="form-group" style="margin-top: -10px;">
                    <label style="color: red;">*</label><label>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱:</label>
                    <input v-model="userMail" name="userMail" type="text" style="width: 50%;"></input><br></br>
                  </div>

                  <label>&nbsp;&nbsp;账户状态:</label>&nbsp;
                  <input id="status" type="checkbox" v-model="isActive" name="my-checkbox" checked="checked" data-size="small" data-on-text="启用" data-off-text="禁用" data-on-color="success" data-off-color="danger"/>
                  <!--<input type="checkbox" name="my-checkbox"  data-size="small" data-on-text="启用" data-off-text="禁用" data-on-color="success" data-off-color="danger"/>-->
                  <br></br><br></br>

                  <span style="color: red;">*项为必填项目</span>
                </form>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <template v-if="userID == ''">
              <button type="button" class="btn btn-primary" v-on:click="add">保&nbsp;&nbsp;存</button>
            </template>
            <template v-else="v-else">
              <button type="button" class="btn btn-primary" v-on:click="update">修&nbsp;&nbsp;改</button>
            </template>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          </div>
        </div>
      </div>
    </div>

  <!-- ACL Modal -->
  <div th:replace="/modules/ACL::zTreeList"></div>

<script th:src="@{/plugins/JQueryZtree/jquery.ztree.core.min.js}"></script>
<script th:src="@{/plugins/JQueryZtree/jquery.ztree.excheck.min.js}"></script>

<script th:src="@{/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script th:src="@{/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/plugins/bootstrap-table/treegrid/bootstrap-table-treegrid.js}"></script>

<script th:src="@{/plugins/bootstrap-switch/bootstrap-switch.min.js}"></script>


<script th:src="@{/js/vue/vue.min.js}"></script>

<script th:inline="javascript">
  /*<![CDATA[*/

  var $table = $('.data-table');

  var TableInit = function () {
      var oTableInit = new Object();
      //初始化Table
      oTableInit.Init = function () {
          $('#dataTable').bootstrapTable({
              url: $('#path').val()+'/users/load',         //请求后台的URL（*）
              method: 'get',                      //请求方式（*）
              toolbar: '#toolbar',                //工具按钮用哪个容器
              striped: true,                      //是否显示行间隔色
              cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
              pagination: true,                   //是否显示分页（*）
              uniqueId: 'id',
              sortable: true,                     //是否启用排序
              queryParams: oTableInit.queryParams,//传递参数（*）
              sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
              pageNumber: 1,                       //初始化加载第一页，默认第一页
              pageSize: 10,                       //每页的记录行数（*）
              pageList: [10, 20, 50, 100],        //可供选择的每页的行数（*）
              search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
              contentType: "application/x-www-form-urlencoded",
              strictSearch: true,
              showColumns: true,                  //是否显示所有的列
              showRefresh: true,                  //是否显示刷新按钮
              minimumCountColumns: 2,             //最少允许的列数
              clickToSelect: false,                //是否启用点击选中行
//                height: 700,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
              uniqueId: "no",                     //每一行的唯一标识，一般为主键列
//                showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
              cardView: false,                    //是否显示详细视图
              columns: [
                  {
                      checkbox: true,
                  }, {
                      field: 'name',
                      title: '名称',
                      formatter:function(value, row, index) {
                         if(row.userTypeName != '') return '<i class="fa fa-user"></i>&nbsp;'+value;
                         return value;
                      }
                  }, {
                      field: 'userTypeName',
                      title: '类型',
                      formatter:function(value, row, index) {
                          if(row.userTypeName != null && row.userTypeName != '')
                              return '用户';
                          return row.type;
                      }
                  }, {
                      field: 'userTypeName',
                      title: '角色'
                  }, {
                      field: 'eMail',
                      title: '邮箱'
                  }, {
                      field: 'phoneNumber',
                      title: '电话'
                  },  {
                      field: 'createTime',
                      title: '创建日期'
                  }, {
                      field: 'isActive',
                      title: '状态',
                      formatter:function(value, row, index) {
                          if(row.active != undefined) {
                              if(row.active == true) return '<span style=\"color: green\">'+'启用'+'</span>';
                              return '<span style=\"color: darkred\">'+'禁用'+'</span>';
                          }
                          return '';
                      }
                  }, {
                      title: '操作',
                      formatter:function(value, row, index) {
                          if(row.userTypeName != null && row.userTypeName != '')
                              return '<a href="javascript:void(0);" onclick=\"' + 'loadUserInfo('+row.id+')' + '\" class=\"btn btn-warning btn-xs\">修改</a>';
                          else
                              return '<a href="javascript:void(0);" onclick=\"' + 'showAddModal('+row.id+')' + '\" class=\"btn btn-success btn-xs\">添加</a>';
                      }
                  }
              ],
              // bootstrap-table-treegrid.js 插件配置
              treeShowField: 'name',
              parentIdField: 'pid',
              onLoadSuccess: function(data) {
                  // jquery.treegrid.js
                  $table.treegrid({
                      treeColumn: 1,
                      onChange: function() {
                          $table.bootstrapTable('resetWidth');
                      }
                  });
              }
          });

      };

      //得到查询的参数
      oTableInit.queryParams = function (params) {
          var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
              limit: params.limit,   //页面大小
              offset: params.offset,
              keyword: params.search//搜索
          };
          return temp;
      };
      return oTableInit;
  };

  var dataTable = new TableInit().Init();

  function deleteItems() {
      var selectedRows = $('#dataTable').bootstrapTable('getSelections');
      if(selectedRows == '') {
          alert('请选择要删除的行');
          return;
      }
      if(window.confirm('确定删除'+selectedRows.length+'条记录?')){
          var uuids = '';
          for(var i=0; i<selectedRows.length; i++) {
              uuids += selectedRows[i].uUID+',';
          }
          $.ajax({
              type: 'POST',
              url: $('#path').val()+'/users/deleteSelections',
              data: {uuids: uuids},
              success: function(result) {
                  var res = eval(result);
                  alert(res['message']);
                  $('#dataTable').bootstrapTable('refresh');
              },
              error: function (XMLHttpRequest, textStatus, errorThrown) {
                  alert(errorThrown);
              }
          });
      }
  }

  function deleteUser(UID) {
      var path = $("#path").val();
      if(window.confirm("确定删除该用户?")){
          $.ajax({
              type: "POST",
              url: path + "/users/delete",
              data: {UID: UID},
              success: function(result) {
                  var res = eval(result)
                  alert(res["message"]);
                  window.location.reload();
              },
              error: function (XMLHttpRequest, textStatus, errorThrown) {
                  alert(errorThrown);
              }
          });
      }
      return;
  }

  function showAddModal(orgID) {
      $("#addUserModal").modal("show");
      $("#orgID").val(orgID);
      // $("#n-orgname").html($("#orgname"+orgID).html());

  }

  jQuery.validator.setDefaults({
      debug: true,
      success: "valid"
  });

  jQuery.validator.addMethod("isPhone", function(value, element) {
      var length = value.length;
      var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
//      var tel = /^\d{3,4}-?\d{7,9}$/;
      return this.optional(element) || mobile.test(value);

  }, "请正确填写您的联系电话(手机)");

  var userInfo = new Vue({
      el: '#userInfo',
      data: {
          userID: '',
          userName: '',
          roleCode: '',
          passwd: '',
          confirm_passwd: '',
          userTel: '',
          userMail: '',
          orgID: '',
          isActive: true
      },
      methods: {
          validate: function () {
              var errorSymbol = "<span style='color: red; font-size: 18px;'>&nbsp;x</span>";
              var vform = $("#vform");
              vform.validate({
                  rules: {
                      userName: {
                          required: true,
                          minlength: 6
                      },
                      passwd: {
                          required: true,
                          minlength: 8
                      },
                      confirm_passwd: {
                          required: true,
                      },
                      roleCode: {
                          required: true
                      },
                      userTel: {
                          required: true,
                          isPhone: true
                      },
                      userMail:{
                          required: true,
                          email: true
                      }
                  },
                  messages: {
                      userName: {
                          required: errorSymbol,
                          minlength: "<span style='color: red; font-size: 14px;'>&nbsp;用户名长度不能少于6位</span>"
                      },
                      passwd: {
                          required: errorSymbol,
                          minlength: "<span style='color: red; font-size: 14px;'>&nbsp;密码长度不能少于8位</span>"
                      },
                      confirm_passwd: {
                          required: true,
                          minlength: "<span style='color: red; font-size: 14px;'>&nbsp;密码长度不能少于8位</span>",
//                            equalTo: "<span style='color: red; font-size: 14px;'>&nbsp;两次输入密码不一致</span>"
                      },
                      roleCode: {
                          required: errorSymbol
                      },
                      userTel: {
                          required: errorSymbol,
                          isPhone: "<span style='color: red; font-size: 14px;'>&nbsp;手机号输入有误</span>"
                      },
                      userMail: {
                          required: errorSymbol,
                          email: "<span style='color: red; font-size: 14px;'>&nbsp;邮箱输入有误</span>"
                      }
                  }
              });
              return vform;
          },
          add: function () {
              if(this.validate().valid() == false) {
                  alert('数据项录入有误, 请按照提示修改');
                  return;
              }
              var url = $('#path').val() + '/users/add';
              var orgID = $('#orgID').val();

              $.ajax({
                  type: "POST",
                  url: url,
                  data: {orgID: orgID, userName: this.userName, roleCode: this.roleCode, passwd: this.passwd, userTel: this.userTel, userMail: this.userMail, isActive: this.isActive},
                  success: function(result) {
                      var res = eval(result)
                      alert(res["message"]);
//                      window.location.reload();
                      $('#dataTable').bootstrapTable('refresh');
                      $("#addUserModal").modal("hide");
                  },
                  error: function (XMLHttpRequest, textStatus, errorThrown) {
                      alert(errorThrown);
                  }
              });
          },
          update: function () {
              if(this.validate().valid() == false) {
                  alert('数据项录入有误, 请按照提示修改');
                  return;
              }
              var url = $('#path').val() + '/users/update';
              var orgID = $('#orgID').val();

              $.ajax({
                  type: "POST",
                  url: url,
                  data: {userID: this.userID, orgID: orgID, userName: this.userName, roleCode: this.roleCode, passwd: this.passwd, userTel: this.userTel, userMail: this.userMail, isActive: this.isActive},
                  success: function(result) {
                      var res = eval(result)
                      alert(res["message"]);
                      window.location.reload();
                  },
                  error: function (XMLHttpRequest, textStatus, errorThrown) {
                      alert(errorThrown);
                  }
              });
          }
      }
  });

  function loadUserInfo(userID) {
      var url = $('#path').val() + '/users/get'
      $.ajax({
          type: "POST",
          url: url,
          data: {userID: userID},
          success: function(result) {
              var user = eval(result);
              userInfo.userName = user.name;
              userInfo.passwd = user.passwd;
              userInfo.confirm_passwd = user.passwd;
              userInfo.roleCode = user.userType;
              userInfo.userTel = user.phoneNumber;
              userInfo.userMail = user.eMail;
              userInfo.orgID = user.pid;
              userInfo.isActive = user.active;
              userInfo.userID = user.id;
              // $('#orgID').val(user.pid);

              if(userInfo.isActive == false) {
                  $("[name='my-checkbox']").bootstrapSwitch('state', false, false);
              }

              showAddModal(userInfo.orgID);
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              alert(errorThrown);
          }
      });
  }

  $('#addUserModal').on('hidden.bs.modal', function () {
      clearForm($('#vform'));
      $('#vform').validate().resetForm();
      $("[name='my-checkbox']").bootstrapSwitch('state', true, true);
  });

  function clearForm(form) {
      // input清空
      $(':input', form).each(function () {
          var type = this.type;
          var tag = this.tagName.toLowerCase(); // normalize case
          if (type == 'text' || type == 'password' || tag == 'textarea')
              this.value = "";
          // 多选checkboxes清空
          // select 下拉框清空
          else if (tag == 'select')
              this.selectedIndex = -1;
      });
  };

  $("[name='my-checkbox']").bootstrapSwitch();
  $('input[name="my-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
      userInfo.isActive = state;
  });

  /*]]>*/
</script>

</body>
</html>
