<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/modules/header::css_library"></head>

<link rel="stylesheet" th:href="@{/plugins/bootstrap-switch/bootstrap-switch.min.css}"/>
<link rel="stylesheet" th:href="@{/plugins/bootstrap-table/bootstrap-table.min.css}"/>
<body class="hold-transition skin-blue sidebar-mini">

    <section class="content-header">
      <h1 style="font-family: 'Microsoft YaHei';" th:text="${categoryName}">

        <small>Project List</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 系统</a></li>
        <li class="active">综合信息</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <input id="path" type="hidden" th:value="@{/auditsys}"></input>
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 col-md-12 connectedSortable">

          <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body ">
              <div id="toolbar" class="btn-group">
                <span style="font-size: 20px;">项目列表</span>
                <!--<button id="btn_delete" type="button" class="btn btn-danger" onclick="javascript:deleteItems();">-->
                  <!--<span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>删除 (Delete)-->
                <!--</button>-->
              </div>
              <table id="dataTable" class="data-table" style="white-space: nowrap;" width="100%"></table>
            </div>
            <!-- /.box-body -->

          </div>
          <!-- /.box -->

        </section>
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->

<div th:replace="/modules/bottom::js_library"></div>

<script th:src="@{/plugins/bootstrap-switch/bootstrap-switch.min.js}"></script>

<script th:src="@{/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script th:src="@{/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>

<script th:inline="javascript">
  /*<![CDATA[*/

    var categoryName = [[${categoryName}]];
    var link;
    if(categoryName == '工程节点')
        link = '/project-nodes/show';
    if(categoryName == '工程签证')
        link = '/project-visa/show';
    if(categoryName == '隐蔽工程')
        link = '/hidden-project/show';

    function deleteData(code) {
        var path = $("#path").val();
        if(window.confirm("确定删除该记录?")){
            $.ajax({
                type: "POST",
                url: path + "/testdata/delete",
                data: {code: code},
                success: function(result) {
                    var res = eval(result);
                    alert(res["message"]);
                    window.location.reload();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
        return;
    }


    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#dataTable').bootstrapTable({
                url: $('#path').val()+'/audits/load',         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                uniqueId: 'iD',
                sortable: true,                     //是否启用排序
                sortName: 'expectedStartDate',
                sortOrder: "desc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                contentType: "application/x-www-form-urlencoded",
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
//                height: 700,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "no",                     //每一行的唯一标识，一般为主键列
//                showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                columns: [
                     {
                        title: '#',
                        formatter: function (value, row, index) {
                            return index+1;
                        }
                    }, {
                        title: '操作',
                        formatter:function(value, row, index){
                            return '<a href=\"' + $('#path').val() + link + '?projectID=' + row.iD + '\">进入</a>'
                        }
                    }, {
                        field: 'projectName',
                        title: '项目名称',
                        sortable : true,
                        sortName: 'PROJECT_NAME'
                    }, {
                        // field: 'gender',
                        title: '状态',
                        sortable : true
                    }, {
                        field: 'projectLoc',
                        title: '地址',
                        sortable : true,
                        sortName: 'PROJECT_LOC'
                    }, {
                        field: 'expectedStartDate',
                        title: '预计开工日期',
                        sortable : true,
                        sortName: 'EXPECTED_START_DATE'
                    }, {
                        field: 'expectedEndDate',
                        title: '预计竣工日期',
                        sortable : true,
                        sortName: 'EXPECTED_END_DATE'
                    }, {
                        field: 'startDate',
                        title: '实际开工日期',
                        sortable: true,
                        sortName: 'START_TIME'
                    }, {
                        field: 'endDate',
                        title: '实际竣工日期',
                        sortable : true,
                        sortName: 'END_TIME'
                    }, {
                        field: 'projectDuration',
                        title: '工期(天)',
                        sortName: 'DURATION'
                    }, {
                        field: 'projectObjectives',
                        title: '项目目的',
                        sortable : true
                    }, {
                        field: 'projectMainContent',
                        title: '主要内容',
                        sortable : true
                    }, {
                        // field: 'materialList',
                        title: '施工主要材料',
                        formatter:function(value, row, index){
                            return '<a href=\"' + $('#path').val() + '/files/download/' + row.materialList + '\">下载</a>'
                        }
                    }
                ]
            });

        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset,
                keyword: params.search,//搜索
                sort: params.sort,//排序
                order:params.order//排序字段
            };
            return temp;
        };
        return oTableInit;
    };

    var dataTable = new TableInit().Init();

    function deleteItems() {
        var selectedRows = $('#dataTable').bootstrapTable('getSelections');
        if(selectedRows == '') {
            alert('请选择要删除的行');
            return;
        }
        if(window.confirm('确定删除'+selectedRows.length+'条记录?')){
            var codes = '';
            for(var i=0; i<selectedRows.length; i++) {
                codes += selectedRows[i].code+',';
            }
            $.ajax({
                type: 'POST',
                url: $('#path').val()+'/testdata/deleteItems',
                data: {codes: codes},
                success: function(result) {
                    var res = eval(result);
                    alert(res['message']);
                    $('#dataTable').bootstrapTable('refresh');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
    }

  /*]]>*/
</script>

</body>
</html>
